<div class="bosshpbar">
    {{#if showName}}
    <p class="bossname">{{name}}</p>
    {{/if}}
    <div class="hp-bg hp-box">
        <div class="hp-fill" style="width: {{width}}">
        </div>
    </div>
</div>
