.bosshpbar {
  margin: auto;
}
.bosshpbar p {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem 0.2rem black, calc(-1px) 0 black, 0 1px black, 1px 0 black, 0 calc(-1px) black;
  margin-bottom: 0.1rem;
  position: relative;
  left: calc(1.5rem / 2);
}
.bosshpbar .hp-bg {
  background: rgba(0, 0, 0, 0.25);
}
.bosshpbar .hp-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 0.8rem;
  border: 1px solid #7d7d6d;
  border-radius: 0.3rem;
}
.bosshpbar .hp-box:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -0.3rem -1px;
  left: -0.3rem -1px;
  right: -0.3rem -1px;
  bottom: -0.3rem -1px;
  border: 1px solid #453c2c;
  border-radius: 0.3rem;
}
.bosshpbar .hp-fill {
  background: #871212;
  background: linear-gradient(180deg, #2a0707 0%, #871212 25%, #a35757 35%, #871212 44%, #370909 100%);
  height: 100%;
  z-index: 0;
  border-radius: 1px;
  position: absolute;
  transition-timing-function: linear;
}
.bosshpbar .damage-fill {
  background: #871212;
  background: linear-gradient(180deg, #2a0707 0%, #871212 25%, #a35757 35%, #871212 44%, #370909 100%);
  height: 100%;
  z-index: 0;
  border-radius: 1px;
  transition-timing-function: linear;
  z-index: -1;
  background: #876a12;
  background: linear-gradient(180deg, #2a2107 0%, #876a12 25%, #a39057 35%, #876a12 44%, #372c09 100%);
  transition-timing-function: ease;
  position: absolute;
}
